extends layout

block content
	img#add-button(src="icons/plus.svg" onclick="showModal()")

	div#add-todo-modal(class="box-col all-12 x-center hidden")
		div(class="box-col all-12 x-center")
			h2 Create a todo.
			form(method="post" class="box-col x-center all-12")
				input#add-todo-input(placeholder="todo title" name="title")
				textarea#add-todo-textarea(placeholder="todo content" name="body")
				button#add-todo-priority-button(class="priority-bg-0", type="button", name="priority", value="0")  priority: low
				image#accept-button(type="button", src="icons/plus.svg", action="/")
			img#close-button(src="icons/cancel.svg", onclick="hideModal()")



	nav(class="box-col all-12 fixed pb_15")
			div(class="box all-12 space-inside y-center")
				h3 Todo App
				ul
					li about
					li github

	div#todo-container
		each todo, i in todosObj
			- var ii = 'todo-' + i;
			- var todoPriorities = ['PRIORITY: LOW','PRIORITY: MEDIUM', 'PRIORITY: HIGH']
			div(id=ii, todo-parent=ii,
					class="todo-box priority-"+todo.priority,
					_span="11 11 5 4 3")

				div(class="close-todo-button-box", todo-parent=ii)
					img(src="icons/cancel.svg",
							todo-parent=ii,
							onclick="closeTodo(event)",
							class="close-todo-button hidden")

				h3(todo-parent=ii contenteditable="true"
					 spellcheck="false",
					 class="todo-title").
					#{todo.title}

				div(class="todo-content box-col hidden-todo-child",
						todo-parent=ii)

					p(todo-parent=ii contenteditable="true"
						spellcheck="false",
						class="todo-body").
						#{todo.body}

					div(class="todo-button-box box wrap", todo-parent=ii)
						button(class="btn-1 todo-save-button inactive-todo-button",
									todo-parent=ii) SAVE
						button(class="btn-1 todo-complete-button xs-0 sm-0",
									todo-parent=ii) COMPLETE
						button(class="btn-1 todo-discard-button inactive-todo-button",
									todo-parent=ii) DISCARD

						button(class="todo-edit-priority priority-bg-"+todo.priority,
									 todo-parent=ii, value=todo.priority)  #{todoPriorities[todo.priority]}
					small(todo-parent=ii, class="todo-date")
						em #{todo.formatedCreate}
