extends layout

block content
	img#add-button(src="icons/plus.svg")

	//- NAVIGATION -/////////////////////////////////////

	nav(class="box-col all-12 fixed pb_15")
			div(class="box all-12 space-inside y-center")
				h3 Todo App
				ul
					a(href='/about'): li about
					a(href='https://github.com/phillipjones2/rebootTodo' target:"_blank"): li github

	//- TODOS -/////////////////////////////////////
	div#todo-container
			div(id="login-todo", class="todo-box xs-11 sm-11 md-5 lg-3-5 xl-2-5 priority-2")

				div(class="close-todo-button-box")
					img(src="icons/cancel.svg", id="login-close-button", class="close-todo-button hidden")

				h3(class="todo-title") Login

				div(id="login-todo-content", class="todo-content box-col login-elements hidden-todo-child ")
					p(id="username", contenteditable=true,spellcheck="false",class="todo-body login-elements ").
						Username
					p(id="password", contenteditable=true,spellcheck="false",class="todo-body login-elements ").
						Password

					div(class="todo-button-box box wrap login-elements ")
						button(class="btn-1 todo-save-button inactive-todo-button login-elements ") SAVE
						button(class="btn-1 todo-complete-button xs-0 sm-0 login-elements ") COMPLETE

					small(class="indexDate todo-date login-elements ")

			div(id="register-todo",class="todo-box xs-11 sm-11 md-5 lg-3-5 xl-2-5 priority-1")

				div(class="close-todo-button-box")
					img(src="icons/cancel.svg", id="register-close-button", class="close-todo-button hidden")

				h3(class="todo-title") Register

				div(id="register-todo-content", class="todo-content box-col register-elements hidden-todo-child ")
					p(id="usernameR", contenteditable=true,spellcheck="false",class="todo-body register-elements ").
						Username
					p(id="passwordR", contenteditable=true,spellcheck="false",class="todo-body register-elements ").
						Password
					p(id="passwordConfR", contenteditable=true,spellcheck="false",class="todo-body register-elements ").
						Confirm Password

					div(class="todo-button-box box wrap register-elements ")
						button(class="btn-1 todo-save-button inactive-todo-button register-elements ") SAVE
						button(class="btn-1 todo-complete-button xs-0 sm-0 register-elements ") COMPLETE

					small(class="indexDate todo-date register-elements ")

			div(id="register-todo",class="todo-box xs-11 sm-11 md-5 lg-3-5 xl-2-5 priority-1")

				div(class="close-todo-button-box")
					img(src="icons/cancel.svg", id="register-close-button", class="close-todo-button hidden")

				h3(class="todo-title") Feed the dog

			div(id="register-todo",class="todo-box xs-11 sm-11 md-5 lg-3-5 xl-2-5 priority-1")

				div(class="close-todo-button-box")
					img(src="icons/cancel.svg", id="register-close-button", class="close-todo-button hidden")

				h3(class="todo-title") Water the plants

			div(id="register-todo",class="todo-box xs-11 sm-11 md-5 lg-3-5 xl-2-5 priority-0")

				div(class="close-todo-button-box")
					img(src="icons/cancel.svg", id="register-close-button", class="close-todo-button hidden")

				h3(class="todo-title") Mow the lawn
